<template>
  <div>
    <b-nav vertical class="w-25">
      <b-nav-item><router-link to="/home">Home</router-link></b-nav-item>
      <b-nav-item><router-link to="/company">Company</router-link></b-nav-item>
      <b-nav-item><router-link to="/login">Login</router-link></b-nav-item>
      <b-nav-item><router-link to="/jobseeker">Jobseeker</router-link></b-nav-item>
    </b-nav>
  </div>
</template>
